<% form_for(@payment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :debt_id %><br />
    <%= f.select (:debt_id, Debt.all.collect { |debt| [debt.name, debt.id.to_s] }, :selected => params[:debt]) %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= date_select("payment", "paid_on") %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
