<h1>Stats</h1>

<h2>Months remaining</h2>
<%= months_remaining.round %>

<h2>Average payment</h2>
<%= number_to_currency(Payment.average) %>

<h2>Average monthly payment</h2>
<%= number_to_currency(Payment.average_per_month) %>

<h2>Total payments</h2>
<%= number_to_currency(Payment.sum(:amount)) %>

<h2>Total debt balance</h2>
<%= number_to_currency(total_debt_balance) %>
