<!DOCTYPE html>
<html>
<head>
  <title>Debts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if admin? %>
  <ul class="navigation">
    <li><%= link_to "Debts", debts_path %></li>
    <li><%= link_to "Payments", payments_path %></li>
    <li><%= link_to "Logout", logout_path %></li>
  </ul>
<% end %>
<%= yield %>
</body>
</html>